На текст я реагирую как <b>словарь</b>: отправь мне слово, а я покажу его перевод в нескольких разных словарях. Поддерживаемые языки:
• турецкий;
• русский;
• английский. 

Для турецкого слова с аффиксами я предложу тебе произвести <b>морфологический анализ</b>.

Каждый день я буду присылать тебе слово дня на турецком и примеры его применения. Пока что этот функционал работает только в паре с турецким и английским языками. Подписаться и отписаться от этой рассылки можно командами <b>/subscribe</b> и <b>/unsubscribe</b> соответственно.